<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <h2 class="brand-before">
                <small></small>
            </h2>
            <h1 class="brand-name">Avalia&ccedil;&otilde;es</h1>
            <hr class="tagline-divider">
            <h2>
                <small>
                    <strong>{{user}}</strong>
                </small>
            </h2>
        </div>
    </div>
</div>


<div class="row" ng-init="load()">

    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Avalia&ccedil;&atilde;o
            </h2>
            <div class="intro-text text-center">
                <a class="btn btn-link btn-sm" ng-click="addAvaliacao()">Add Avalia&ccedil;&atilde;o</a>
            </div>
            <hr>
        </div>
<!--
        <tbody ng-repeat="c in list">
            <tr>
                <td>{{c.id}}</td>
                <td>{{c.nome}}</td>
                <td>{{c.email}}</td>
                <td>{{c.login}}</td>
                <td>{{c.cpf}}</td>
                <td>{{c.funcao}}</td>
                <td>{{c.createdAt}}</td>
                <td><button ng-click="remove(c.id)">Remover</button></td>
                <td><button ng-click="edit(c.id)">Editar</button></td>
            </tr>
        </tbody>
-->
        <div ng-repeat="avaliacao in list">
            <div class="col-sm-4">
                <h3 ng-bind-html="avaliacao.nome"></h3>
                <div ng-bind-html="avaliacao.descricao"></div>
                <a class="btn btn-link btn-sm pull-right" href="#!/avaliacao/{{avaliacao.id}}">More <i class="fa fa-angle-right"></i></a>
                <a class="btn btn-link btn-sm pull-right" href="" ng-show="tipoUsuario == 'Professor' && respondida(avaliacao.id) !== true" ng-click="editAvaliacao(avaliacao)">Editar <i class="fa fa-angle-right"></i></a>
                <a class="btn btn-link btn-sm pull-right" href="" ng-show="tipoUsuario == 'Professor' && respondida(avaliacao.id) !== true" ng-click="remove(avaliacao.id)">Remover <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>