<form class="form-horizontal" ng-controller="AvaliacaoCtrl">
    <div class="modal-header">
      <h3 class="modal-title">Editar Avalia&ccedil;&atilde;o > {{item.id}}</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">Enunciado</label>
        <div class="col-sm-5">
          <textarea ui-tinymce="tinymceOptions" class="form-control" placeholder="Enunciado" ng-model="item.enunciado"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" type="submit" ng-click="save()">Salvar</button>
    </div>
</form>